<h1 id='title'>Welcome to Miles of Smiles</h1>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <img src="bootstrap-carousel.png" alt="Los Angeles">
    </div>

    <div class="item">
      <img src="bootstrap-carousel.png" alt="Chicago">
    </div>

    <div class="item">
      <img src="bootstrap-carousel.png" alt="New York">
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<hr>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ratione, excepturi cum atque pariatur labore iste, necessitatibus veritatis dolorem esse, repellat cupiditate animi culpa earum est architecto soluta repudiandae optio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto vitae, eius odio accusamus, mollitia facere quibusdam dolore ducimus? Illo quod eaque nemo eos ratione quaerat aperiam distinctio veniam maxime, est!</p>
